
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0 15px 0 15px;
    color: #595959;
    background-color: #fff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.4285714286;
}

.completed {
    text-decoration: line-through;
    color: #aaaaaa;
}

.page-header {
    font-size: 36px;
    padding-bottom: 0.275em;
    margin-top: 1.12em;
    margin-bottom: 0.55em;
    border-bottom: 1px solid #e3e3e3;
}

h1 {
    margin: 0;
    line-height: 1.1;
    color: #444444;
    text-rendering: auto;
    font-size: 36px;
    font-weight: normal;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    color: #7d7d7d;
    background-color: #fff;
    background-image: none;
    border-width: 1px;
    border-style: solid;
    border-color: #d7d7d7;
    border-color: rgba(0, 0, 0, 0.16);
    border-radius: 4px;
    box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.075);
    -moz-transition: border-color 0.15s ease-in-out;
    -webkit-transition: border-color 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out;
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

input {
    margin: 0;
    font: inherit;
    line-height: inherit;
    color: inherit;
    outline: 0;
    text-transform: none;
}

[disabled] {
    background-color: #f7f7f7 !important;
    border-color: #d7d7d7 !important;
    color: #595959 !important;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=45)" !important;
    opacity: 0.45 !important;
    outline: 0 !important;
    outline-style: none !important;
    box-shadow: none !important;
    cursor: not-allowed !important;
    pointer-events: none !important;
}

button {
    overflow: visible;
    text-transform: none;
    margin: 0;
    font: inherit;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.16);
    color: #595959;
    white-space: nowrap;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.4285714286;
    border-radius: 4px;
    position: relative;
    top: 0;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    -moz-tap-highlight-color: transparent;
    -ms-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.16);
    background-color: #f7f7f7;
}

.list-group {
    margin-bottom: 20px;
    margin-left: 0;
    padding-left: 0;
    background-color: transparent;
}

.list-group > li:first-child > .list-group-item, .list-group > .list-group-item:first-child {
    border-top-color: transparent;
}

.list-group-item {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    position: relative;
    display: block;
    margin-bottom: -1px;
    border-top: 1px solid #cbcbcb;
    padding: 6px 12px 7px;
    font-size: 14px;
    line-height: 1.4285714286;
}

.list-group-item input {
    margin: 10px;
}
